body {
  
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* #atristContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}  */

#searchInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.artist-card {
  /* display: flex;
  flex-direction: column; */
  display: inline-block;
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.artist-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.artist-info {
  color: #555;
}

.artist-genres {
  margin-top: 10px;
}